# This is a comment for REQUIRED_VAR
# It will get displayed to the user during install
# It can be multi-lined
REQUIRED_VAR=

# This is a comment for OPTIONAL_VAR
# (Optional; default = "some default value")
OPTIONAL_VAR=
